.jetforcer/
packages/
.idea
.sfdx
.vscode
.DS_Store
/mdapi_input
/mdapi_output

/packages/built-in-stubs.jar
/.jetforcer/built-in-stubs.jar
/force-app/force-app.iml

**/featureParameters

# Page Layouts
/force-app/main/default/layouts/*-Blank_Default.layout-meta.xml

# Aura
/force-app/main/default/aura/Alerts/
/force-app/main/default/aura/FieldDetective/

# Standard/Broken Field references
/force-app/main/default/objects/Contact/fields/AccountId.field-meta.xml
/force-app/main/default/objects/Contact/fields/AssistantName.field-meta.xml
/force-app/main/default/objects/Contact/fields/AssistantPhone.field-meta.xml
/force-app/main/default/objects/Contact/fields/Birthdate.field-meta.xml
/force-app/main/default/objects/Contact/fields/CleanStatus.field-meta.xml
/force-app/main/default/objects/Contact/fields/Department.field-meta.xml
/force-app/main/default/objects/Contact/fields/Description.field-meta.xml
/force-app/main/default/objects/Contact/fields/DoNotCall.field-meta.xml
/force-app/main/default/objects/Contact/fields/Email.field-meta.xml
/force-app/main/default/objects/Contact/fields/Fax.field-meta.xml
/force-app/main/default/objects/Contact/fields/HasOptedOutOfEmail.field-meta.xml
/force-app/main/default/objects/Contact/fields/HasOptedOutOfFax.field-meta.xml
/force-app/main/default/objects/Contact/fields/HomePhone.field-meta.xml
/force-app/main/default/objects/Contact/fields/IndividualId.field-meta.xml
/force-app/main/default/objects/Contact/fields/Jigsaw.field-meta.xml
/force-app/main/default/objects/Contact/fields/LastCURequestDate.field-meta.xml
/force-app/main/default/objects/Contact/fields/LastCUUpdateDate.field-meta.xml
/force-app/main/default/objects/Contact/fields/LeadSource.field-meta.xml
/force-app/main/default/objects/Contact/fields/MailingAddress.field-meta.xml
/force-app/main/default/objects/Contact/fields/MobilePhone.field-meta.xml
/force-app/main/default/objects/Contact/fields/Name.field-meta.xml
/force-app/main/default/objects/Contact/fields/OtherAddress.field-meta.xml
/force-app/main/default/objects/Contact/fields/OtherPhone.field-meta.xml
/force-app/main/default/objects/Contact/fields/OwnerId.field-meta.xml
/force-app/main/default/objects/Contact/fields/Phone.field-meta.xml
/force-app/main/default/objects/Contact/fields/ReportsToId.field-meta.xml
/force-app/main/default/objects/Contact/fields/Title.field-meta.xml
/force-app/main/default/objects/Contact/Contact.object-meta.xml
/force-app/main/default/objects/Meeting__c/fields/Incident_Type__c.field-meta.xml
